{% extends "ex.html" %}
{% load static %}

{% block page_content %}


<body>

<div class="flex-container ">
<h1>&nbsp<br><br></h1>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card pl" style="height:40%;width:50%;margin-left: 30%;background-color: white">
  <h3 style="margin-left: auto;
    margin-right: auto;font-family: Kaushan Script;" >{{ first_name}}</h3>
  <img src="{{ pic.url }}" >
  
</div>

  </div>
  
 <div class="col-md-4">

 <div class="card pl" style="background-color: black;color:#66ffe0;">
  <h3 style="margin-left: auto;
    margin-right: auto;font-family: Kaushan Script;" >My Profile</h3>
   <a href="/update">
               <img src="{% static 'images/edi.png' %}" alt="edit profile" style="width:50px;height:50px;float:right">
    </a>

     
  
  

<div class="container">
             
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Hi <b>{{first_name}}</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>USER NAME </strong>:</td>
        <td>{{username}}</td>
        
      </tr>
      <tr>
        <td><strong>FLAT NUMBER </strong>: </td>
        <td>{{flat_number}}</td>
    
      </tr>
      <tr>
        <td><strong>MOBILE NUMBER</strong> : </td>
        <td>{{mobile_number}}</td>
      </tr>
       <tr>
        <td><strong>EMAIL</strong> : </td>
        <td>{{email}}</td>
      </tr>
      
      
      
    </tbody>
  </table>
</div>





<div class="col-md-3"></div>
</div></div></div>
      </body>
{% endblock %}