{% extends 'shopping.html' %}
{% load static %}

{% block page_content %}


{% load widget_tweaks %}


<head>
  <title>shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="flex-container ">
<h1>&nbsp<br><br></h1>
</div>
<div class="jumbotron" style="background-color:lightgray">
	<h1><center>SHOPPING LIST</center></h1>
	

    <hr>
    <h3><center><a class="btn btn-primary  pl " href="/index" style="float:left">HOME</a></center></h3>
    <h3><a href="/list">
  		<img src="{% static 'images/pic.png' %}" alt="cart items" style="width:60px;height:60px;float:right; ">
</a></h3>
</div>

<!-- <div class="flex-container " style="height:70px;">
	<h1 class=" pl" > <center><b>Shopping List</b></center></h1>
</div> -->


<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
	<div class="row ">
		
		<form class="form-signin" method="POST" >
                 {% csrf_token %}
                <div class="form-group"  style="  visibility: hidden;">
                  {% render_field form.aut  type="text" class="form-control" placeholder="Title"%}
              	</div>
<hr />
	</div>
	<div class="row" >
		<div class="col-sm-2 col-lg-2 pl " >
		
				<img class="img-fluid hs" src="{% static 'images/milk.png' %}"  > 
			

		</div>
		<div class="col-sm-2  col-lg-2 pl " >
					<img class="img-fluid" src="{% static 'images/bread.png' %}" > 

		</div>
		<div class="col-sm-2 col-lg-2 pl" >

					<img class="img-fluid" src="{% static 'images/water.png' %}" > 
		</div>
		<div class="col-sm-2 col-lg-2 pl" >

				<img class="img-fluid" src="{% static 'images/rice.png' %}" > 
		</div>
	</div>
	<div class="row hs">
	</div>
	<div class="row hs">
		<div class="col-sm-2  col-lg-2 pl" >
				milk: {{form.milk}}

		</div>
		<div class="col-sm-2 col-lg-2 pl" >
					bread: {{form.bread}}

		</div>
		<div class="col-sm-2 col-lg-2 pl" >

					water: {{form.water}}
		</div>
		<div class="col-sm-2  col-lg-2 pl" >

				rice: {{form.rice}}
		</div>
	</div>

</div>
	<div class="row hs" style="float:right">
		<br><br><hr>

	<input type="submit" value="Submit" class="button" >
	</div>



</form>
</body>
{% endblock %}