{% extends 'shopping.html' %}
{% block page_content %}
{% load widget_tweaks %}
<body>
  <div class="jumbotron" style="background-color:#a3c2c2">
  <h1><br><center>EDIT PROFILE</center></h1>
    <hr>
    <h3><a class="btn btn-primary  pl " href="/h" style="float:left">HOME</a></h3>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<form method="POST">
    {% csrf_token %}
       <div class="form-group cl" >
        first name:{% render_field form.first_name  type="text" class="form-control" placeholder="first name"%}
      </div>
      <div class="form-group cl">
         last name:{% render_field form.last_name  type="text" class="form-control" placeholder="last name"%}
      </div>
       <div class="form-group cl" >
       username: {% render_field form.username  type="text" class="form-control" placeholder="username"%}
    </div>

    <div class="form-group cl">
      email:{% render_field form.email  type="text" class="form-control" placeholder="email"%}
  </div>
  <div class="form-group cl"style="  visibility: hidden;">
    {% render_field form.date_joined  type="text" class="form-control" placeholder="username"%}
</div> 

    


          
    <div class="form-group">
        <input type="submit" value="Submit" class="btn button">
      </div> 
       <!-- {{form.as_p}}
      <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
      </div>  -->
</form>
</div>
 <div class="col-md-3" ></div>
      </div>


        <ul style="color:red">
            {% for field in form %}
                {% if field.errors %}<li><center><br>{{ field.label }}: {{ field.errors|striptags }}<center></li>{% endif %}
            {% endfor %}
        </ul>

</body>
{% endblock %}