{% extends 'shopping.html' %}
{% load static %}

{% block page_content %}


{% load widget_tweaks %}


<head>
  <title>service</title>
  <meta charset="utf-8">
 </head>
<body>

<div class="jumbotron" style="background-color:lightgray">
	<h1><center>REQUESTED SERVICES</center></h1>
	

    <hr>
    <h3><center><a class="btn btn-primary  pl " href="/index" style="float:left">HOME</a></center></h3>
</div>
<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
	<div class="row pl" >
		 <table class="table table-dark table-striped" >
	
			<tbody>
      
	
		{% for x in details %}
					
				{% if  user.username == x.aut %}
					<tr>
						<td style="color:yellow">SERVICE REQUESTED :</td>
       					 <td> {{ x.body }}</td>			
			 		</tr>
				{% endif %}	
					
				
		{% endfor %}
		

		</div>

	{% endblock %}