{% extends "ex.html" %}
{% block page_content %}
<div class="jumbotron" style="background-color:lightgray">
	<h1><center>Notices</center></h1>
	

    <hr>
    <h3><center><a class="btn btn-primary  pl " href="/index" style="float:left">HOME</a></center></h3>
    <h3><center><a class="btn btn-success  pl " href="/Ask"  style="float:right">ADD</a></center></h3>
</div>
<br><br>
<div class="row">
    {% for post in posts %}




    <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
            
                <div class="text text-2 pl-md-4 ">
      <h3 class="mb-2">{{ post.title }}</h3>
      <div class="meta-wrap">
                        <p class="meta">
              <span><i class="icon-calendar mr-2" aria-hidden="true"></i>{{post.created_on.date }}</span>
              <span><i class="icon-edit mr-2" aria-hidden="true"></i>{{post.aut }}</span>
       
         
                            
          </p>
      </div>
      <p class="mb-4 card" style="width:50%">{{ post.body |slice:150  }}</p>
      <p><a href="{% url 'b_detail' post.pk%}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
    </div>
            </div>

           
        </div>
    {% endfor %}
</div>



<div class="pagination" >
    <ul style="margin-left: 40%">
        
        {% if posts.has_previous %}
        <li style="display:inline-flex"><a href="?page={{ posts.previous_page_number }}" style="color:yellow"><strong><<</strong> &nbsp &nbsp</a></li>
        {% endif %}
        {% for pg in posts.paginator.page_range %}
        {% if posts.number == pg %}
<a href="?page={{ pg }}" style="color:yellow">{{ pg }}</a>
    
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li style="display:inline-flex"><a href="?page={{ posts.next_page_number }}" style="color:yellow"><strong>&nbsp &nbsp >></strong>   </a></li>
        {% endif %}
    </ul>
</div>



{% endblock %}